/**
 *	import twitter bootstrap css
 */
@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');

html,body{
  height: 100%;
}
.container{
  width: 1260px;
}
/*login page css*/
.login{
  background: rgba(4,99,147,1);
  background: #1570a5;
  background-size: 8px 8px;
  /*background-image:-moz-linear-gradient(top left,rgba(4,99,147,0.5) 25%,rgba(4,99,147,0) 25%,rgba(4,99,147,0) 100%),-moz-linear-gradient(top right,rgba(4,99,147,0.5) 25%,rgba(4,99,147,0) 25%,rgba(4,99,147,0) 100%),-moz-linear-gradient(bottom left,rgba(4,99,147,0.5) 25%,rgba(4,99,147,0) 25%,rgba(4,99,147,0) 100%),-moz-linear-gradient(bottom right,rgba(4,99,147,0.5) 25%,rgba(4,99,147,0) 25%,rgba(4,99,147,0) 100%);*/
}
.login .login-content{
  width: 600px;
  margin: 180px auto 0;
}
.login .login-box{
  padding:25px 0;
  height: 205px;
  background: #fff;
  border-radius: 8px;
  box-shadow: -5px 8px 5px rgba(0,0,0,0.2),5px 8px 5px rgba(0,0,0,0.2);
}
.login .login-box .form-horizontal .controls{
/*   margin-left: 80px; */
}
.login .login-box .form-horizontal .control-label{
/*   width: 100px */
}



/*top page css*/
.top{
  background: #1570a5;
}
.logo small{
  color: #fff;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgba(0,0,0,1);
  font: 36px/60px "微软雅黑";
  padding-left: 30px;
}
.login-info{
	height:35px;
}
.login-info .nav{
  float: right;
}
.login-info .nav li{
  float: left;
  padding: 0 8px;
  color: #f8f8f8;
  line-height: 60px;
  font-size: 12px;
}
.login-info .nav li a{
  color: #f8f8f8;
}
.login-info .nav li a:hover{
  background: transparent;
}
.top .login-info li:last-child{
/*   border-left: 1px solid #4188b2; */
/*   padding-top: 7px; */
}
.top .login-info li:nth-child(5){
/*   border-right: 1px solid #035988 */
}

/*navigator css*/
.navbar{
	margin-bottom:0px!important;
}
.navbar-inner{
	min-height:30px!important;
	height:30px!important;
}
.navbar-inner .nav{
	height:30px!important;
}
.navbar-inner .nav li{
	line-height:10px!important;
}
/*left page css*/
.left .sidebar{
  width: 14%;
  border: 1px solid #b9ccdb;
  border-width: 0px 1px 0 1px;
  min-height: 85%;
  height:auto;
  position: absolute;
  z-index: 10;
}
.left .nav-control{
  line-height: 40px;
  background: -moz-linear-gradient(top,#ffffff 0%,#ebf2f8 100%);
  background: -webkit-linear-gradient(top,#ffffff 0%,#ebf2f8 100%);
  background: linear-gradient(top,#ffffff 0%,#ebf2f8 100%);
  border-bottom: 1px solid #d9e7ea;
  text-align: center;
  color: #1570a5;
  font-size: 13px;
  position: relative;
  z-index: 20;
}
.left .nav-control span{
  padding: 0 5px;
  text-shadow: 0 1px 0 #FFFFFF;
  cursor: pointer;
}
.left .nav{
  padding: 0 10px;
}

.left .nav h4{
  border-bottom: 1px dashed #ddd;
  padding: 5px;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
}
.left .nav h4:hover{
  background: #f5f5f5;
}
.left .nav .sub-nav{
  font-size: 13px;
  overflow: hidden;
}
.left .nav .sub-nav li{
  -moz-transition:padding-left .5s;
  -webkit-transition:padding-left .5s;
}
.left .nav .sub-nav li:hover{
/*   padding-left: 30px; */
}
.scrolllink{
  position: absolute;
  z-index: 20;
  bottom: 0;
  border-top: 1px solid #eee;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.3);
  background: -moz-linear-gradient(top,#fff,#f8f8f8);
  background: -webkit-linear-gradient(top,#fff,#f5f5f5);
  background: linear-gradient(top,#fff,#f5f5f5);
}
.scrolllink span{
  width: 94px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}
.scrolllink span:first-child{
  border-right: 1px solid #ddd;
}
/* content css */
.content{
  border: 1px solid #b9ccdb;
  border-width: 0px 1px 0px 0px;
  min-width:85%;
  width:auto;
  min-height: 85%;
  height:auto;
  position: absolute;
  margin-left:14%;
  background: #fcfcfc;
}

/*breadcrumb css*/
.breadcrumb{
  line-height: 40px;
  padding: 0 15px;
  border-radius: 0;
  border-bottom: 1px solid #cfe0e7;
  background: -moz-linear-gradient(center top,#eaf4f5 0%,#e3eaf0 100%);
  background: -webkit-linear-gradient(center top,#eaf4f5 0%,#e3eaf0 100%);
  background: linear-gradient(center top,#eaf4f5 0%,#e3eaf0 100%);
}


/*mian page css*/
.main{
  background: #fcfcfc;
}
.main .wrap{
  padding: 15px 20px;
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th{
  background: #efefef;
}
.main .table tbody tr td,.main .table thead tr th{
  text-align: center;
}
.main .table tbody td{
  font-size: 12px;
}
.main .table tbody td a{
  cursor: pointer;
}
.main .table tbody tr td:last-child a{
  margin: 0 5px;
}
.w140{
  width: 140px;
}
.w120{
  width: 120px;
}
.w100{
  width: 100px;
}
.w250{
  width: 250px;
}
.w200{
  width: 200px;
}
/*data-info page css*/
.data-info canvas{
  
}


/*user list page css*/

/*user msg page css*/
.usermsg-manage tbody tr td:last-child{
  width: 35px;
}

/*index slider css*/
.index-slider table td{
  vertical-align: middle;
}
.index-slider table td:first-child{
  width: 220px;
}
.index-slider table td:first-child img{
  width: 200px;
  height: 100px;
}
/*notice manage page css*/
.notice-manage table td:first-child{
  width: 30px;
}
.notice-manage table td:nth-child(3),.notice-manage table td:nth-child(4){
  width: 150px;
}
.notice-manage .nav-tabs>.active>a, .notice-manage .nav-tabs>.active>a:hover, .notice-manage .nav-tabs>.active>a:focus{
  background: -moz-linear-gradient(top,#fff 0,#f9f9f9 100%);
  background: -webkit-linear-gradient(top,#fff 0,#f9f9f9 100%);
  border-bottom-color: #f9f9f9;
}
/*add shop page*/
.add-shop textarea{
  width: 637px;
}
/*order info page css*/
.order-info table td[colspan="4"]{
  background: #eee;
  font-size: 14px;
  font-weight: bolder;
}
/*address manage page css*/
.address-manage .add-address-btn a{
  margin-right: 10px;
}

/*content ie6 ie7 ff*/
 #compat-width{width:100%}/*firefox ie8*/  
*+html #compat-width{width:86%}/*ie7*/
* html #compat-width{width:100%}/*ie6*/


/** dialog */
#dialog-form {
	background-color:rgb(252,252,252);
}

#dialog-form .form-inline{
	line-height:33px;
}
.form-inline span{
	margin-left:12px;
}
#dialog-form .form-inline label{
	width:60px;
}
*+html #dialog-form .form-inline label{
	width:62px;
}
#dialog-form .control-group{
	margin-bottom:10px!important;
}
#dialog-form .control-label{
	width:62px!important;
}
#dialog-form .controls{
	margin-left:70px!important;
}

label.valid {
  width: 24px;
  height: 24px;
  background: url(../img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

.redS{
	color:red;font-size:16px;font-weight:700
}