body {
	font-family: Arial, 宋体;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	
}

.systembox {
	height: auto;
	width: 100%;
}

.textstyle{border:1px solid #7f9db9;height:16px;line-height:16px;padding-left:2px;vertical-align:middle;margin-left:3px;}
.selectstyle{border:1px solid #7f9db9;height:22px;line-height:22px;vertical-align:middle;margin-left:3px;}
.areastyle{border:1px solid #7f9db9;vertical-align:middle;margin:3px;}
.chkstyle{vertical-align:middle;margin:3px;}
.chkstyleIn{vertical-align:middle;margin-left:8px;margin-top:3px;margin-bottom:3px;}
.textreadonly{border:1px solid #C0C0C0;background-color:#D3D3D3;height:16px;line-height:16px;padding-left:2px;vertical-align:middle;margin-left:3px;readonly:expression(this.readOnly=true);}

.menuOpers{margin:3px;height:16px;line-height:16px;padding-left:5px;border:1px dotted #666;}
.menuOpers input,.menuOpers label{vertical-align: middle;}

.mybuttondiv {
	border:1px solid #1393e9;
	cursor: pointer;
	float: left;
	list-style:none none outside;
	position: relative;
	background:url(../images/sys/gbtbg.gif) repeat-x left center;
	height:18px;
	line-height:18px;
	color:#000;
	display:inline;
	margin-left:3px;
	margin-right:3px;
	padding-right:5px;
	position:relative;
	white-space:nowrap;
}
.mybutton_icon{text-indent:-99999px;float:left;display:block;width:16px;height:16px;line-height:18px;cursor:pointer;overflow:hidden;margin:0 2px;background: url(../images/sys/buttons.png) no-repeat; }
.mybutton-icon-search {background-position: -160px -112px; }　　/*查询*/
.mybutton-extlink { background-position: -32px -80px; }　　/*提交*/
.mybutton-arrowreturn-1-s { background-position: -112px -64px; }　　/*返回*/　
.mybutton-circle-plus { background-position: 0 -192px; }　　/*添加子节点*/　
.mybutton-pencil { background-position: -64px -112px; }　　/*修改*/　
.mybutton-trash { background-position: -176px -96px; }　　/*作废,删除*/　
.mybutton-arrowreturnthick-1-s { background-position: -48px -64px; }　　/*导入*/
.mybutton-arrowreturnthick-1-w { background-position: 0 -64px; }　　/*导出*/
.mybutton-locked { background-position: -192px -96px; }　　/*确定*/
.mybutton-circlesmall-close { background-position: -32px -208px; }　　/*取消*/
.mybutton-bookmark { background-position: -224px -96px; }　　/*保存*/
.mybutton-plusthick { background-position: -32px -128px; }　　/*新增单位*/
.mybutton-shuffle { background-position: -80px -80px; }　　/*选择商品*/
.mybutton-newwin { background-position: -48px -80px; }　　/*复制上月*/
.mybutton-arrowthickstop-1-s { background-position: -224px -48px; }　　/*下载*/
.mybutton-print { background-position: -160px -96px; }　　/*打印*/
.mybutton-arrow-1-n { background-position: 0 -32px; }　　/*上移*/
.mybutton-arrow-1-s { background-position: -64px -32px; }　　/*下移*/
.mybutton-document { background-position: -32px -96px; }　　/*计算指标*/
.mybutton-transferthick-e-w { background-position: -112px -80px; }　　/*生成*/
.mybutton-zoomin { background-position: -128px -112px; }　　/*审核*/
/*重用按钮样式　end*/

.querytable{
	width: auto;
}

.listsearch{
	background-color: #F5F8FD;
	margin:8px 0px;
	border: 1px solid #D7EAF8;
	padding:2px 0px;
}

.listcond{margin-top:3px;}

.listitle{
	height: 24px;
	line-height: 24px;
	color:#666;
}
.toolbtns{
	margin:5px 0px;
}
.toolbtnalign{margin-right:10px;}
/*------------- form 样式 ----------------*/
#dataForm{
	margin: 10;text-align: left;
}
.formcon{margin:0px 5px;}
.tc_sysbox{background:#fff;margin:5px 5px;
}
.menudiv{height:19px;padding-left:3%;padding-top:10px;border:1px solid #a7d0e6;border-bottom:none;}
.menudiv a:link,.menudiv a:visited{display:block;float:left;margin-right:15px;width:78px;height:19px;line-height:19px;background:url(../images/sys/formmenubg.gif) no-repeat left bottom;text-decoration:none;text-align:center;color:#333;}
.menudiv a:hover{text-decoration:underline;color:#128bcb;}
.menudiv .my_movie_on a:link,.menudiv .my_movie_on a:visited{color:#128bcb;}
.serchcondition{margin-bottom:2px;}
.tablestyle{border:0px;width:100%;}
.tablestyle td{height:30px;vertical-align:middle;}
.tableborder{border-top:1px solid #cbdaed;border-left:1px solid #cbdaed;}
.tableborder td{border-bottom:1px solid #cbdaed;border-right:1px solid #cbdaed;}
.bgtd{background-color:#e2f0ff;}
.star{color:red;font-weight:900;font-size:17px;vertical-align:middle;}
.cdzy{display:none;height:auto;margin-bottom:2px;}
.juzhong{display:block;margin:0px auto;}
.juzhong *{margin-right:5px}
.bgf{background-color:#fff;}
.tooldialog{border:0px;width:96%;position:absolute;bottom:15px;}

.talr{text-align:right;padding-right:6px;padding-left:16px;}
.tall{text-align:left;}
.talc{text-align:center;}
.wb10{width:10%;}
.wb12{width:12%;}
.wb13{width:13%;}
.wb15{width:15%;}
.wb20{width:20%;}
.wb25{width:25%;}
.wb30{width:30%;}
.wb35{width:35%;}
.wb50{width:50%;}
.wb60{width:60%;}
.wb65{width:65%;}
.wb70{width:70%;}
.wb80{width:80%;}
.wb90{width:90%;}
.wb93{width:93%;}
.wb95{width:95%;}
.wb98{width:98%;}
.wb100{width:100%;}
.wauto{width:auto;}
.w30{width:30px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w120{width:120px;}
.w135{width:135px;}
.w150{width:150px;}
.w110{width:110px;}
.w180{width:180px;}
.w190{width:190px;}
.w230{width:230px;}
.w260{width:260px;}
.w300{width:300px;}
.w400{width:400px;}
.w500{width:450px;}
.w690{width:690px;}
.w700{width:700px;}
.h35{height:35px;}
.h60{height:60px;}

/**腾讯邮箱按钮样式 begin**/

.btn_gray {
	margin: 0px; padding: 0px 12px; border-radius: 0px; height: 22px; text-align: center; line-height: 23px; font-family: Simsun; text-decoration: none; vertical-align: middle; display: inline-block; cursor: default; min-width: 24px; _overflow-y: hidden; -moz-user-select: none; -webkit-user-select: none;
	border:1px solid #888;cursor:hand;
}
.btn_gray:hover{text-decoration:none;}
.btn_gray:active {
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
}
.btn_gray:focus {
	border-color: rgb(0, 116, 188);
}

.btn_space {
	margin-right: 3px;
}

.btn_gray {
	background: rgb(243, 243, 243); border: 1px solid rgb(136, 136, 136); color: rgb(0, 0, 0) !important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#d7d7d7',GradientType=0 );
}
.btn_gray:active {
	background: rgb(243, 243, 243); border-color: rgb(126, 126, 126); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb',endColorstr='#F3F3F3',GradientType=0 );
}
/**腾讯邮箱按钮样式 end**/

/**网易邮箱 按钮begin**/
HTML > BODY .Btn {
PADDING-RIGHT: 11px; PADDING-LEFT: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; outline: none;
}

.Btn:HOVER{cursor: pointer !important; cursor:hand}
.Btn {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #000 1px solid; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 22px; BACKGROUND-COLOR: #fff
}
.BtnNml {
	BACKGROUND-POSITION: 0px -96px
}
.Btn{border:1px solid #72a1bd; background-color:#fff;background-image:url('../images/sys/f2.gif');background-repeat:repeat-x;}

/** 网易邮箱 按钮end*/
