<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap index-slider">
		<h6>首页</h6>
		<table class="table table-bordered">
			<thead><tr><th>ID</th><th>图片</th><th>链接</th><th>描述</th><th>操作</th></tr></thead>
			<tbody><tr><td></td><td></td><td></td><td></td><td><a>编辑</a><a>删除</a></td></tr></tbody>
		</table>
		<h6>搜索页面</h6>
		<table class="table table-bordered">
			<tbody><tr><td></tr></tbody>
		</table>
		<h6>店铺详情</h6>
		<table class="table table-bordered">
			<tbody><tr><td></tr></tbody>
		</table>
		<h6>活动列表</h6>
		<table class="table table-bordered">
			<tbody><tr><td></tr></tbody>
		</table>						

		<form class="form-horizontal">
		  <div class="control-group">
		    <label class="control-label" for="uploadImage">图片上传</label>
		    <div class="controls">
		      <input type="file" id="uploadImage">
		      <div class="preview"><img src=""></div>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="uploadImage">类型</label>
		    <div class="controls">
				<select class="select">
				  <option>首页</option>
				  <option>搜索页</option>
				  <option>店铺页</option>
				  <option>活动列表</option>
				</select>
		    </div>
		  </div>		  		  
		  <div class="control-group">
		    <label class="control-label" for="picDescribe">图片描述</label>
		    <div class="controls">
		      <input type="text" id="picDescribe" placeholder="图片描述">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="picSrc">链接地址</label>
		    <div class="controls">
		      <input type="url" id="picSrc" placeholder="链接地址">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="picId">图片顺序</label>
		    <div class="controls">
		      <input type="number" id="picId" placeholder="图片顺序">
		    </div>
		  </div>	  		  
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn">确认添加</button>
		    </div>
		  </div>
		</form>
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
