<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap">
		<form class="form-horizontal">	
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">一级区域</label>
		    <div class="controls">
				<select>
				  <option>厦门</option>
				  <option>泉州</option>
				  <option>福州</option>
				</select>
		    </div>
		  </div>			  			
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">二级级区域</label>
		    <div class="controls">
		      <input type="text" id="inputEmail" placeholder="例如:思明区">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">简拼</label>
		    <div class="controls">
		      <input type="text" id="inputEmail" placeholder="例如:SMQ">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">全拼</label>
		    <div class="controls">
		      <input type="text" id="inputEmail" placeholder="例如:SIMINGQU">
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn">确定添加</button>
		    </div>
		  </div>		  
		</form>	
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>城市名称</th>
					<th>简拼</th>
					<th>全拼</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>厦门</td>
					<td>XM</td>
					<td>XIAMEN</td>
					<td><a>编辑</a><a>删除</a></td>
				</tr>
				<tr>
					<td>1</td>
					<td>厦门</td>
					<td>XM</td>
					<td>XIAMEN</td>
					<td><a>编辑</a><a>删除</a></td>
				</tr>
				<tr>
					<td>1</td>
					<td>厦门</td>
					<td>XM</td>
					<td>XIAMEN</td>
					<td><a>编辑</a><a>删除</a></td>
				</tr>								
			</tbody>
		</table>						
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
