<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap">
		<form class="form-horizontal">
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">一级区域</label>
		    <div class="controls">
				<select>
				  <option>厦门</option>
				  <option>泉州</option>
				  <option>福州</option>
				</select>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">二级区域</label>
		    <div class="controls">
				<select>
				  <option>思明区</option>
				  <option>湖里区</option>
				  <option>集美区</option>
				</select>
		    </div>
		  </div>		  			
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">小区或楼宇名称</label>
		    <div class="controls">
		      <input type="text" id="inputEmail">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">简拼</label>
		    <div class="controls">
		      <input type="text" id="inputEmail">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">全拼</label>
		    <div class="controls">
		      <input type="text" id="inputEmail">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">坐标</label>
		    <div class="controls">
		      <input type="text" id="inputEmail">
		    </div>
		  </div>		  		  		  
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn">确定添加</button>
		    </div>
		  </div>
		</form>								
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
