<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap add-shop">
		<form class="form-horizontal">	
		  <div class="control-group">
		    <label class="control-label" for="inputShopName">店铺名称</label>
		    <div class="controls">
		      <input type="text" id="inputShopName">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">店铺坐标</label>
		    <div class="controls">
		      <input type="text" id="inputShopXY">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">店铺负责人</label>
		    <div class="controls">
		      <input type="text" id="inputShopXY">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">负责人电话</label>
		    <div class="controls">
		      <input type="tel" id="inputShopXY">
		    </div>
		  </div>	
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">店铺分类</label>
		    <div class="controls">
				<select>
				  <option>餐饮美食</option>
				  <option>软饮小站</option>
				  <option>便利生活</option>
				</select>
		    </div>
		  </div>	
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">佣金费率</label>
		    <div class="controls">
		      <input type="number" id="inputShopXY" class="w100" min="0" max="1" step="0.01" value="0.18">
		    </div>
		  </div>	
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">营业时间</label>
		    <div class="controls">
		      <input type="date" class="w120" id="inputShopXY">&nbsp至&nbsp<input type="date" class="w120" id="inputShopXY">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">第一电话</label>
		    <div class="controls">
		      <input type="tel" id="inputShopXY">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">第二电话</label>
		    <div class="controls">
		      <input type="tel" id="inputShopXY">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">店铺地址</label>
		    <div class="controls">
				<select class="w120">
				  <option>厦门</option>
				  <option>泉州</option>
				  <option>福州</option>
				</select>
				<select class="w120">
				  <option>思明区</option>
				  <option>湖里区</option>
				  <option>集美区</option>
				</select>
				<input type="text" class="w120" placeholder="大厦/小区/楼宇">
				<input type="text" class="w250" placeholder="详细地址：如新景数码港1103号">				
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">店铺简介</label>
		    <div class="controls">
		      <textarea rows="3"></textarea>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputShopXY">付款账号信息</label>
		    <div class="controls">
		      <input type="text" id="inputShopXY" placeholder="开户行" class="w200">
		      <input type="text" id="inputShopXY" placeholder="账户名" class="w200">
		      <input type="text" id="inputShopXY" placeholder="账号" class="w200">
		    </div>
		  </div>		  		    
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn">确认添加</button>
		    </div>
		  </div>
		</form>			 	
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>


</body>
</html>
