<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap">
		<form class="form-horizontal">
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">用户名</label>
		    <div class="controls">
		      <input type="text" id="inputEmail">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">密码</label>
		    <div class="controls">
		      <input type="password" id="inputPassword">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">确认密码</label>
		    <div class="controls">
		      <input type="password" id="inputPassword">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">类别</label>
		    <div class="controls">
				<select>
				  <option>超级管理员</option>
				  <option>客服人员</option>
				  <option>财务人员</option>
				</select>
		    </div>
		  </div>		  		  
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn">确定添加</button>
		    </div>
		  </div>
		</form>		
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
