<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap address-manage">
		<div class="hd-box user-list-hd">
			<form class="form-inline">
				<select class="select">
				  <option>厦门</option>
				  <option>泉州</option>
				  <option>福州</option>
				</select>
				<select class="select">
				  <option>思明区</option>
				  <option>湖里区</option>
				  <option>集美区</option>
				</select>
				<input type="text" class="input-small" placeholder="小区或大厦">							
				<button type="submit" class="btn">搜索</button>
			</form>
			<p class="add-address-btn"><a class="btn" href="add_city.html">添加一级区域</a><a class="btn" href="add_area.html">添加二级区域</a><a class="btn" href="add_address.html">添加三级区域</a></p>
		</div>
		<div class="bd-box user-list-bd">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>一级区域</th>
						<th>二级区域</th>
						<th>小区或楼宇名称</th>
						<th>简拼</th>
						<th>全拼</th>
						<th>坐标</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>厦门</td>
						<td>思明区</td>
						<td>文屏山庄</td>
						<td>WPSZ</td>
						<td>wenpingshanzhuang</td>
						<td>118.120850,24.464418</td>
						<td><a>修改</a><a>周边店铺</a><a class="del">删除</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>厦门</td>
						<td>思明区</td>
						<td>文屏山庄</td>
						<td>WPSZ</td>
						<td>wenpingshanzhuang</td>
						<td>118.120850,24.464418</td>
						<td><a>修改</a><a>周边店铺</a><a class="del">删除</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>厦门</td>
						<td>思明区</td>
						<td>文屏山庄</td>
						<td>WPSZ</td>
						<td>wenpingshanzhuang</td>
						<td>118.120850,24.464418</td>
						<td><a>修改</a><a>周边店铺</a><a class="del">删除</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>厦门</td>
						<td>思明区</td>
						<td>文屏山庄</td>
						<td>WPSZ</td>
						<td>wenpingshanzhuang</td>
						<td>118.120850,24.464418</td>
						<td><a>修改</a><a>周边店铺</a><a class="del">删除</a></td>
					</tr>																									
				</tbody>
			</table>			
		</div>
		<div class="pagination pagination-right">
		  <ul>
		    <li class="disabled"><a href="#">&laquo;</a></li>
		    <li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">»</a></li>
		  </ul>
		</div>				
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
