<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap">
		<div class="">
			<form class="form-inline">
				<input type="text" class="input-small" placeholder="用户名">
				<input type="text" class="input-small input-email" placeholder="Email">
				<input type="text" class="input-small" placeholder="手机号">			
				<button type="submit" class="btn">搜索</button>
			</form>
		</div>
		<div class="">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>用户名</th>
						<th>EMAIL</th>
						<th>手机号</th>
						<th>创建时间</th>
						<th>类别</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>眼镜</td>
						<td>komla@163.com</td>
						<td>18000000000</td>
						<td>2012-05-12</td>
						<td>管理员</td>
						<td><a>编辑</a><a>删除</a></td>
					</tr>
					<tr>
						<td>眼镜</td>
						<td>komla@163.com</td>
						<td>18000000000</td>
						<td>2012-05-12</td>
						<td>管理员</td>
						<td><a>编辑</a><a>删除</a></td>
					</tr>																				
				</tbody>
			</table>			
		</div>
		<div class="pagination pagination-right">
		  <ul>
		    <li class="disabled"><a href="#">&laquo;</a></li>
		    <li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">»</a></li>
		  </ul>
		</div>				
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
