<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap notice-manage">
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#home">文章列表</a></li>
		  <li><a href="#profile">添加文章</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="home">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>文章标题</th>
							<th>发布时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td><a>新版上线,特价进行中</a></td>
							<td>2012-12-15 12:08</td>
							<td><a>编辑</a><a class="del">删除</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td><a>新版上线,特价进行中</a></td>
							<td>2012-12-15 12:08</td>
							<td><a>编辑</a><a class="del">删除</a></td>
						</tr>						
					</tbody>
				</table>
			</div>
			<div class="tab-pane" id="profile">
			    <form class="form-horizontal">
			    <div class="control-group">
				    <label class="control-label" for="inputEmail">文章标题</label>
				    <div class="controls">
				    	<input type="text" id="inputEmail" placeholder="Email" required>
				    </div>
			    </div>
			    </form>				
			</div>
		</div>	
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
	<script>
	    $('#myTab a').click(function (e) {
	    e.preventDefault();
	    $(this).tab('show');
	    })
	</script>	
</body>
</html>
