<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap order-info">
		<table class="table table-bordered">
			<tbody>
				<tr><td colspan="4">订单联系方法</td></tr>
				<tr><td>订单号</td><td>52050511303041100</td><td>订单状态</td><td>系统取消</td></tr>
				<tr><td>下单时间</td><td>2013-3-4 11:24:51</td><td>支付方式</td><td>货到付款</td></tr>
				<tr><td>收货人</td><td>刘德没华</td><td>联系电话</td><td>15960821366</td></tr>
				<tr><td>下单帐号</td><td>天使是鸟人</td><td>店铺名称</td><td>天天向上</td></tr>
				<tr><td>店铺订餐电话</td><td>05923806650</td><td>老板联系电话</td><td>13400651943</td></tr>
				<tr><td>订单留言</td><td colspan="3">请12点前送至，共50元。</td></tr>
				<tr><td>送货地址</td><td colspan="3">中外运大厦 中外运营运中心B栋24楼</td></tr>
				<tr><td>店铺地址</td><td colspan="3">厦禾路1126之三</td></tr>
				<tr><td colspan="4">订单内容详情</td></tr>
				<tr><td>商品名称</td><td>单价</td><td>数量</td><td>小计</td></tr>
				<tr><td>鱼香肉丝</td><td>10</td><td>1</td><td>10</td></tr>
				<tr><td>鱼香肉丝</td><td>10</td><td>1</td><td>10</td></tr>
				<tr><td>鱼香肉丝</td><td>10</td><td>1</td><td>10</td></tr>
				<tr><td colspan="2"></td><td>订单总计</td><td>30</td></tr>
			</tbody>
		</table>				
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
