<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap">
		<div class="">
			<form class="form-inline">
				<input type="text" class="input-small" placeholder="用户名">
				<input type="email" class="input-small input-email" placeholder="Email">
				<input type="date" class="input-small input-date">
				<select class="select">
				  <option>所有</option>
				  <option>已验证</option>
				  <option>未验证</option>
				</select>			
				<button type="submit" class="btn">搜索</button>
			</form>
		</div>
		<div>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>订单号</th>
						<th>店铺名称</th>
						<th>下单账号</th>
						<th>收货人</th>
						<th>下单时间</th>
						<th>付款方式</th>
						<th>金额</th>
						<th>客户留言</th>
						<th>订单状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>37438491302261215</td>
						<td><a>南香木桶饭<a></td>
						<td>这里很美</td>
						<td>蒋秀娟</td>
						<td>2013-02-23 11:16:50</td>
						<td>网银支付</td>
						<td>20.0</td>
						<td>大法的方式地方</td>
						<td>催单1次</td>
						<td><a href="order_info.html">详情</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>37438491302261215</td>
						<td>南香木桶饭</td>
						<td>这里很美</td>
						<td>蒋秀娟</td>
						<td>2013-02-23 11:16:50</td>
						<td>网银支付</td>
						<td>20.0</td>
						<td>大法的方式地方</td>
						<td>系统取消</td>
						<td><a href="order_info.html">详情</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>37438491302261215</td>
						<td>南香木桶饭</td>
						<td>这里很美</td>
						<td>蒋秀娟</td>
						<td>2013-02-23 11:16:50</td>
						<td>网银支付</td>
						<td>20.0</td>
						<td>大法的方式地方</td>
						<td>配送成功</td>
						<td><a href="order_info.html">详情</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>37438491302261215</td>
						<td>南香木桶饭</td>
						<td>这里很美</td>
						<td>蒋秀娟</td>
						<td>2013-02-23 11:16:50</td>
						<td>网银支付</td>
						<td>20.0</td>
						<td>大法的方式地方</td>
						<td>未支付暂不处理</td>
						<td><a href="order_info.html">详情</a></td>
					</tr>																										
				</tbody>
			</table>			
		</div>
		<div class="pagination pagination-right">
		  <ul>
		    <li class="disabled"><a href="#">&laquo;</a></li>
		    <li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">»</a></li>
		  </ul>
		</div>				
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
