<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap">
		<div class="">
			<form class="form-inline">
				<input type="text" class="input-small" placeholder="店铺名称">
				<select class="select">
					<option>正常</option>	
				    <option>审核中</option>
				    <option>冻结</option>
				</select>			
				<button type="submit" class="btn">搜索</button>
			</form>
		</div>
		<div class="">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>店铺名称</th>
						<th>联系电话</th>
						<th>地址</th>
						<th>机器ID</th>
						<th>积分</th>
						<th>注册时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td><a>天天特好吃</a></td>
						<td>komla@163.com</td>
						<td>新景数码港15梯1103室</td>
						<td>t592000</td>
						<td>67</td>
						<td>2012-05-12</td>
						<td><a>充值</a><a>管理</a><a>详情</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>	
					<tr>
						<td>3</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>	
					<tr>
						<td>4</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>															
				</tbody>
			</table>			
		</div>
		<div class="pagination pagination-right">
		  <ul>
		    <li class="disabled"><a href="#">&laquo;</a></li>
		    <li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">»</a></li>
		  </ul>
		</div>				
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
