<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap">
		<div class="hd-box usermsg-list-hd">
			<form class="form-inline">
				<input type="text" class="input-small" placeholder="用户名">
				<input type="email" class="input-small input-email" placeholder="Email">
				<input type="tel" class="input-small" placeholder="手机号">
				<select class="select">
				  <option>所有</option>
				  <option>已验证</option>
				  <option>未验证</option>
				</select>			
				<button type="submit" class="btn">搜索</button>
			</form>
		</div>
		<div class="bd-box usermsg-list-bd">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>用户名</th>
						<th>EMAIL</th>
						<th>手机号</th>
						<th>宅币</th>
						<th>积分</th>
						<th>注册时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>眼镜</td>
						<td>komla@163.com</td>
						<td>18000000000</td>
						<td>50</td>
						<td>67</td>
						<td>2012-05-12</td>
						<td><a>充值</a><a>详情</a><a>冻结</a><a>删除</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>	
					<tr>
						<td>3</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>	
					<tr>
						<td>4</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>															
				</tbody>
			</table>			
		</div>
		<div class="pagination pagination-right">
		  <ul>
		    <li class="disabled"><a href="#">&laquo;</a></li>
		    <li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">»</a></li>
		  </ul>
		</div>				
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
