<!DOCTYPE html>
<html lang="en">
	<head>
		<title> New Document </title>
		<meta charset="utf-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="main">
	<div class="wrap">
		<div class="bd-box usermsg-manage">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th></th>
						<th>ID</th>
						<th>留言内容</th>
						<th>用户</th>
						<th>留言时间</th>
						<th>回复内容</th>
						<th>回复时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox"></td>
						<td>1</td>
						<td>建议增加可以搜索菜系或菜名的，我想吃广东煲仔饭或东北的水饺。搞了半天不知道怎么叫？</td>
						<td>眼镜</td>
						<td>2013-02-27 13:20:54</td>
						<td>谢谢您的建议，我们将会对此进行调整</td>
						<td>2013-02-27 16:53:29</td>
						<td><a>回复</a><br /><a>删除</a></td>
					</tr>
					<tr>
						<td><input type="checkBox"></td>
						<td>1</td>
						<td>建议增加可以搜索菜系或菜名的，我想吃广东煲仔饭或东北的水饺。搞了半天不知道怎么叫？</td>
						<td>幸福的小星星</td>
						<td>2013-02-27 13:20:54</td>
						<td>谢谢您的建议，我们将会对此进行调整</td>
						<td>2013-02-27 16:53:29</td>
						<td><a>回复</a><br /><a>删除</a></td>
					</tr>																								
				</tbody>
			</table>			
		</div>	
		<div class="pagination pagination-right">
		  <ul>
		    <li class="disabled"><a href="#">&laquo;</a></li>
		    <li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">»</a></li>
		  </ul>
		</div>				
	</div>			
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>
